$font-stack:  Helvetica, sans-serif;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color : red;
    font: 100% $font-stack
}

.head {
    padding-bottom: 2cm
}